@import "../default.scss";

.signin-page-container {
  width: 100%;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  .signin-page-title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  .signin-forgot-passwd-text {
    margin-bottom: 44px;
  }
  .signin-signup-text {
    display: flex;
    font-size: 14px;
    justify-content: center;
    margin-top: 12px;
    .signin-signup-desc {
      margin-right: 4px;
    }
  }
}
